.futureForecastItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .futuredayItem {
    background: rgba(24, 24, 24, 0.4);
    padding: 5px;
    border-radius: 10px;

  }
}