.editableSpan {
  padding-left: 60px;
  padding-top: 40px;
  height: 260px;
  // mix-blend-mode: exclusion;

  input {
    display: inline-block;
    margin: 0;
    border: none;
    padding: 0 10px 0 0;
  }

  .text {
    padding-left: 10px;
  }

  p {
    color: white;
    display: inline-block;
  }
}

