.form {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  flex-grow: 0;

  .formButton {
    display: block;
    top: -11px;
  }


  @media only screen and (max-width: 603px) {
  }

}


